<div class="det" >
  <div>
    <div class="card mb-4 d-flex p-2 ">

        <div class="card-body dd ">
        <!-- <a href="#!"><img src="{{posts?.image}}" class="card-img-top img"></a> -->
    
            <div class="small text-muted">{{posts?.titre}}</div>
            <h2 class="card-title h4">{{posts?.description}}</h2>
            <p class="card-text"></p>
            <a class="btn bts " >Add</a>    
    
        </div>
    </div>
  </div>
  <div>
    <app-aside> </app-aside>
  </div>
</div>
