<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFC300;">
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nos produits
        </button>
        <ul class="dropdown-menu dpd">
          <li><a class="dropdown-item" routerLink="/home/catalogue">Nos Catalogue</a></li>
          <li><a class="dropdown-item" routerLink="/home/burger">Nos Burgers
          </a></li>
          <li><a class="dropdown-item" routerLink="/home/menu">Nos Menus</a></li>
        </ul>
      </div>
    <div class="container">
        <a class="navbar-brand" href="#!">Brasil Burger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li class="nav-item"><a class="nav-link" routerLink="/blog">Acceuille</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">faire une commande</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">suivre une commande</a></li>
      

                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li> -->
            </ul>
            <div>
                <input placeholder="rechercher nos produits">
          <a class="" routerLink="/home/menu"> <img class="img" src="/assets/images/img.webp" alt=""> </a>
                
            </div>
        </div>
    </div>
</nav>